#app-home {
    padding-top: 30px;

    #app-canvas {
       border: 1px solid $color-bg-dark;
       // changer le pointeur de la souris
       cursor: crosshair;
    }

    .settings-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
    }

    .settings-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }
}