.btn-1 {
    width: 120px;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    color: $color-white;
    background-color: $color-bg;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: $color-bg-dark;
        color: $color-warning;
        transition: 0.3s;
    }

    &:disabled {
        background-color: $color-bg-dark-2;
        color: $color-bg;
        transition: 0.3s;
    }

    &:active {
        background-color: $color-bg-light !important;
        color: $color-warning;
        transition: 0.3s;
    }

}

.btn-sm-1 {
    width: 60px;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    color: $color-white;
    background-color: $color-bg;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: $color-bg-dark;
        color: $color-warning;
        transition: 0.3s;
    }

    &:disabled {
        background-color: $color-bg-dark-2;
        color: $color-bg;
        transition: 0.3s;
    }

    &:active {
        background-color: $color-bg-light !important;
        color: $color-warning;
        transition: 0.3s;
    }
}

.btn-sm-2 {
    width: 60px;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    color: $color-white;
    background-color: $color-bg-secondary;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: $color-bg-secondary-dark;
        color: $color-warning;
        transition: 0.3s;
    }

    &:disabled {
        background-color: $color-bg-secondary-dark-2;
        color: $color-bg;
        transition: 0.3s;
    }

    &:active {
        background-color: $color-bg-secondary-light !important;
        color: $color-warning;
        transition: 0.3s;
    }
}

.chckbx-1 {
    width: 90px;
    height: 36px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    color: $color-white;
    background-color: $color-bg-secondary !important;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: $color-bg-secondary-dark !important;
        color: $color-warning !important;
        transition: 0.3s;
    }

    &:disabled {
        background-color: $color-bg-secondary-dark-2 !important;
        color: $color-bg !important;
        transition: 0.3s;
    }

    &:active {
        background-color: $color-bg-secondary-light !important;
        color: $color-warning !important;
        transition: 0.3s;
    }

    &.chckbx-1-checked {
        background-color: $color-bg-secondary-dark-2 !important;
        color: $color-warning !important;
        transition: 0.3s;
    }

    &.chckbx-1-checked:hover {
        background-color: $color-bg-secondary-dark !important;
        color: $color-warning !important;
        transition: 0.3s;
    }
}