.btn-1 {
    width: 120px;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    color: $color-white;
    background-color: $color-bg-secondary-dark;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: $color-bg-secondary;
        color: $color-warning;
        transition: 0.3s;
    }

}