
$color-bg: rgb(63, 98, 55);
$color-bg-light: rgb(108, 168, 94);
$color-bg-dark:  rgb(40, 65, 34);
$color-bg-dark-2: rgb(27, 40, 20);

$color-bg-secondary: rgb(107, 161, 19);
$color-bg-secondary-light: rgb(161, 214, 19);
$color-bg-secondary-dark: rgb(76, 109, 5);
$color-bg-secondary-dark-2: rgb(37, 53, 4);

$color-white: #fff;
$color-black: #000;

$color-success: rgb(11, 202, 11);
$color-danger: rgb(202, 11, 11);
$color-warning: rgb(202, 202, 11);
$color-info: rgb(11, 110, 202);