.text-color-bg {
    color: $color-bg;
}

.text-color-bg-dark {
    color: $color-bg-dark;
    //background-color: $color-bg-light-2 !important;
}

.text-color-bg-dark-2 {
    color: $color-bg-dark-2;
}

.text-color-bg-light {
    color: $color-bg-light;
}

.text-color-bg-light-2 {
    color: $color-bg-light-2;
}

.text-color-bg-light-3 {
    color: $color-bg-light-3;
}