#custom-toast {
    transition: 0.3s;
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 1000;
    background-color: $color-bg-light-2;
    color: $color-bg-dark;
    border: 1px solid $color-bg-light-2;
    
    
    .custom-toast-success {
        color: $color-success;
    }
    
    .custom-toast-danger {
        color: $color-danger;
    }

    .custom-toast-warning {
        color: $color-warning;
    }

    .custom-toast-info {
        color: $color-info;
    }
    
    .toast-header {
        background-color: $color-bg-dark;
        color: $color-bg-dark;
        border: 1px solid $color-bg-light-2;
    }

    .custom-toast-body {
        background-color: $color-bg-light;
        color: $color-bg-dark;
        border: 1px solid $color-bg-light-2;
    }
    
    button.btn-close {
        transition: 0.3s;
        color: $color-white !important;
        background-color: $color-bg-dark;
        padding: 5px;
        content: "X";
    }
}
